<%= render :partial => '/common/header_top' %>
<%= stylesheet_link_tag    "/css/collection/flat.css", :media => "screen" %>
<%= render :partial => '/common/header_bottom' %>
<%= render :partial => '/common/landing' %>
	<div class="whiteHeader cf" style="text-align:left;margin-top:1px;">
		<div style="padding-top:30px;"></div>
			
		<div id="products" class="products">
			<a name="top"></a>
			<div class="freshdesignweb">
			    <div class="image_grid portfolio_4col" style="padding-left:40px;">
				    <ul id="itemList" class="portfolio_list">
				    <% @collections.each do |collection| %>
						<li>
						<% if collection.item_type=='C'%>
							<div class="thumbnail" style="width:230px;height:300px;display:table-cell;text-align:center;vertical-align:middle">
							 	<div style="width:230px;height:230px;display:table-cell;text-align:center;vertical-align:middle;">
							 		<img src="/data/collection/thumb/<%= collection.img_file_name%>" onClick="document.location.href='/collections/<%= collection.id%>'" style="cursor:pointer">
							 	</div>
							 	<div style="text-align:left; padding:5px 0px 0px 5px; width:220px; height:50px; ">
							 		<span style="color:#000000"><%=collection.subject%></span><br/>
							 		<a href="/mypage/<%=collection.profile_id%>" style="color:#0088cc"><%=collection.profile_id%></a>
							 	</div>
							 	<div style="text-align:right;color:#aaaaaa;font-size:11px"><%=collection.cnt_like%> Like / <%=collection.hit%> View</div>
							</div>
						    	
					    <% elsif collection.item_type=='P'
								price_type_str = "￦"
								price_str = number_to_currency(collection.price, :unit => price_type_str, :precision => 0)
							    case collection.price_type
							      when "KRW"
							        price_type_str = "￦"
							        price_str = number_to_currency(collection.price, :unit => price_type_str, :precision => 0)
							      when "USD"
							      	price_type_str = "$"
							      	price_str = number_to_currency(collection.price, :unit => price_type_str)
							      when "JPY"
							      	price_type_str = "￥"
							      	price_str = number_to_currency(collection.price, :unit => price_type_str, :precision => 0)
							      when "EUR"
							      	price_type_str = "€"
							      	price_str = number_to_currency(collection.price, :unit => price_type_str)
							      when "GBP"
							      	price_type_str = "￡"
							      	price_str = number_to_currency(collection.price, :unit => price_type_str)
							      when "CNY"
							      	price_type_str = "元"
							      	price_str = number_to_currency(collection.price, :unit => price_type_str, :precision => 0)
							    end
					    %>
							<div class="thumbnail" style="width:230px;height:300px;display:table-cell;text-align:center;vertical-align:middle">
							 	<div style="width:230px;height:230px;display:table-cell;text-align:center;vertical-align:middle;">
							 		<img src="/data/product/medium/<%= collection.img_file_name%>" onClick="document.location.href='/products/<%= collection.id%>'" style="cursor:pointer">
							 	</div>
							 	<div style="text-align:left; padding:5px 0px 0px 5px; width:220px; height:50px; ">
							 		<span style="color:#000000"><%=collection.subject%></span><br/>
							 		<%= price_str%>&nbsp;
							 		<a href="/mypage/<%=collection.profile_id%>" style="color:#0088cc"><%=collection.profile_id%></a>
							 	</div>
							 	<div style="text-align:right;color:#aaaaaa;font-size:11px"><%=collection.cnt_like%> Like / <%=collection.hit%> View</div>
							</div>
					    <% end %>
						</li>
				    <% end %>
				    </ul>
			    </div>
			</div>
		</div>
		
		
	</div>
	
	
	<a href="#top" id="top-link" class="floatingLink">top</a>
	

<script type="text/javascript">
$(document).ready(function(){
	$("#mainMenu1").addClass("active");
});


// scroll event
$(window).scroll(function(){
	if($(window).scrollTop() == $(document).height() - $(window).height()){
		lastPostFunc();
	}
});

var nextPage = 2;
function lastPostFunc(){
	//nextPage++;
	$.ajax({
	    url     : '/main/itemListCallback?page='+nextPage+'&type=<%= @item_type%>',
	    type    : 'get',
	    dataType: 'json',
	    async   : false,  
	    success : function(json){
	    	collections = json.collections;

	    	if(json.status){

				if(collections.length>0) nextPage++;
				$.each(collections, function (index, collection) {
					var li = '<li>'
					+ '<div class="thumbnail" style="width:230px;height:300px;display:table-cell;text-align:center;vertical-align:middle">' 
					
					if(collection.item_type=='C'){
						li += '<div style="width:230px;height:230px;display:table-cell;text-align:center;vertical-align:middle;">' 
						+ '	<img src="/data/collection/thumb/'+collection.img_file_name+'" onClick="document.location.href=\'/collections/'+collection.id+'\'" style="cursor:pointer">'
						+ '</div>'
						+ '<div style="text-align:left; padding:5px 0px 0px 5px; width:220px; height:50px; ">'
						+ '	<span style="color:#000000">'+collection.subject+'</span><br/>'
						+ '	<a href="/mypage/'+collection.profile_id+'" style="color:#0088cc">'+collection.profile_id+'</a>'
						+ '</div>'
						+ '<div style="text-align:right;color:#aaaaaa;font-size:11px">'+collection.cnt_like+' Like / '+collection.hit+' View</div>';
					}else if(collection.item_type=='P'){
						var priceStr = getMoneyType(collection.price,collection.price_type);
						
						li += '<div style="width:230px;height:230px;display:table-cell;text-align:center;vertical-align:middle;">' 
						+ '	<img src="/data/product/medium/'+ collection.img_file_name+'" onClick="document.location.href=\'/products/'+ collection.id+'\'" style="cursor:pointer">'
						+ '</div>'
						+ '<div style="text-align:left; padding:5px 0px 0px 5px; width:220px; height:50px; ">'
						+ '	<span style="color:#000000">'+collection.subject+'</span><br/>'
						+ priceStr + "&nbsp;"
						+ '	<a href="/mypage/'+collection.profile_id+'" style="color:#0088cc">'+collection.profile_id+'</a>'
						+ '</div>'
						+ '<div style="text-align:right;color:#aaaaaa;font-size:11px">'+collection.cnt_like+' Like / '+collection.hit+' View</div>';
					}
					li += '</div>'
					+ '</li>';
					
					$('#itemList').append(li);
				});
				
	    	} else {
	    		notify('error', json.msg);
	    	}
	    	
	    },
	    error   : function(e){
	        semafors['ajax'] = false;
	        //notify('error', TranslationLabels['could_not_complete_request']);
	    }
	});
}
</script>





