<%= render :partial => '/common/header_top' %>
<%
	request_host = "http://" + request.host_with_port
%>
<%#= stylesheet_link_tag    "http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css", :media => "screen" %>
<%#= stylesheet_link_tag    "/css/collection/cropping.css", :media => "screen" %>
<%#= stylesheet_link_tag    "/css/collection/datePicker.css", :media => "screen" %>
<%#= stylesheet_link_tag    "/css/collection/platform.css", :media => "screen" %>
<%#= stylesheet_link_tag    "/css/collection/jquery.Jcrop.css", :media => "screen" %>
<%#= stylesheet_link_tag    "/css/collection/jquery.colourPicker.css", :media => "screen" %>
<%#= stylesheet_link_tag    "/css/collection/jquery.selectbox.css", :media => "screen" %>
<%= stylesheet_link_tag    "/css/collection/flat.css", :media => "screen" %>
<%= stylesheet_link_tag    "/css/collection/flat-simo.css", :media => "screen" %>
<%= stylesheet_link_tag    "/css/collection/flat-slav.css", :media => "screen" %>
<%#= stylesheet_link_tag    "/css/collection/val.css", :media => "screen" %>
<%#= stylesheet_link_tag    "/css/collection/jquery.tagsinput.css", :media => "screen" %>

<%= javascript_include_tag "/js/jquery-1.11.1.min.js" %>
<%#= javascript_include_tag "http://code.jquery.com/ui/1.10.2/jquery-ui.js" %>
<%#= javascript_include_tag "/js/collection/jquerypp.custom.js" %>
<%#= javascript_include_tag "/js/collection/sprintf.min.js" %>
<%= javascript_include_tag "/js/kakao-1.0.8.min.js" %>

<script type="text/javascript">
siteURL = '<%= request_host%>/';
imgURL  = '<%= request_host%>/';
$(function(){
    TranslationLabels = new Object;
    TranslationLabels['above_max_item_for_collection']	= 'above max item for collection';
	TranslationLabels['below_max_item_for_collection']	= 'below max item for collection';
	TranslationLabels['cannot_load_image']				= '이미지를 불러올 수 없습니다.';
	TranslationLabels['could_not_complete_request']		= '요청을 완료할 수 없습니다.';
	TranslationLabels['could_not_detect_carousel_for_plugin'] = 'could not detect carousel for plugin';
	TranslationLabels['sorry_no_friends_using_app_found_we_recommend_the_following_users:'] = 'sorry no friends using app found we recommend the following users:';
	TranslationLabels['are_you_sure_you_want_to_leave']	= '페이지를 벗어날까요?';
	TranslationLabels['account_connection_failure']		= '계정 연결 실패';
	TranslationLabels['account_connection_success']		= '계정 연결 성공';
	TranslationLabels['account_added_for_sharing']		= '계정 공유 추가';
	TranslationLabels['submitButton']					= '로딩중';
	TranslationLabels['found']                          = 'Found';
	TranslationLabels['friend']							= 'friend';
	TranslationLabels['friends']                        = 'friends';
	TranslationLabels['hint']                           = 'hint';
	TranslationLabels['unknown_error']                  = '알수없는 오류';
	TranslationLabels['crop_saved']                     = 'crop saved';
	TranslationLabels['could_not_load']                 = '로드할 수 없습니다.';
	TranslationLabels['tag']                            = 'Tag:';
	TranslationLabels['must_have_valid_selection']		= 'Must have valid selection';
	TranslationLabels['please_select_a_file']           = '파일을 선택하세요';
	TranslationLabels['unknown_error']                  = 'unknown error';
	TranslationLabels['image_uploaded_successfully']    = '이미지 업로드를 성공하였습니다.';
	TranslationLabels['loading']                        = '로딩중';
	TranslationLabels['follow_all']                     = 'follow all';
	TranslationLabels['let_friends_find_me_too']        = 'let friends find me too';
	TranslationLabels['previous']                       = '이전';
	TranslationLabels['next']                           = '다음';
	TranslationLabels['currently_sharing_to']           = 'currently sharing to';
	TranslationLabels['stop']                           = 'stop';
	TranslationLabels['not_available']                  = 'Not available';
	TranslationLabels['start_quick_sharing_to']         = 'start quick sharing to';
	TranslationLabels['cannot_load_cover']				= 'Cannot load cover';
	TranslationLabels['cancel']                         = '취소';
	TranslationLabels['drag_to_position_image']			= 'Drag to position image';
	TranslationLabels['save_changes']					= 'save changes';
	TranslationLabels['change_picture']                 = 'change picture';
	TranslationLabels['view_less']                      = 'view less';
	TranslationLabels['view_more']                      = 'view more';
	TranslationLabels['share_failure']                  = 'share failure';
	TranslationLabels['you_cannot_add_more_than_%d_tags_to_one_creation'] = 'you cannot add more than %d tags to one creation';
	TranslationLabels['this_%s_is_already_in_the_collection'] = 'this %s is already in the collection';
	TranslationLabels['pick_a_colour']					= 'pick a colour';
	TranslationLabels['open_colour_picker']				= 'open colour picker';
	TranslationLabels['no_%s_users_currently_available'] = 'no %s users currently available';
	TranslationLabels['on_site']                        = 'on Trickable';
	TranslationLabels['invalid_items_in_collection']    = 'invalid items in collection';
	TranslationLabels['placeholder_accepts_only_products'] = 'placeholder accepts only products';
	TranslationLabels['could_not_load_crops']           = 'could not load crops';
	TranslationLabels['add_a_tag']                      = 'add a tag';
});
</script>

<%= javascript_include_tag "/js/collection/jquery.infinitescroll.js" %>
<%= javascript_include_tag "/js/collection/jquery.tabs.js" %>
<%#= javascript_include_tag "/js/collection/jquery.textareacounter.js" %>
<%= javascript_include_tag "/js/collection/jquery.responsive.js" %>
<%= javascript_include_tag "/js/collection/jquery.content.slider.js" %>
<%= javascript_include_tag "/js/collection/jquery.scrollTo-1.4.0-min.js" %>
<%= javascript_include_tag "/js/collection/jquery.scroll.top.js" %>
<%= javascript_include_tag "/js/collection/jquery.form.js" %>
<%= javascript_include_tag "/js/collection/jquery.jcarousel.js" %>
<%= javascript_include_tag "/js/collection/misc.js" %>
<%= javascript_include_tag "/js/collection/binds.js" %>
<%= javascript_include_tag "/js/collection/platform.js" %>
<%#= javascript_include_tag "/js/collection/cropping.js" %>
<%#= javascript_include_tag "/js/collection/rotatable.js" %>
<%#= javascript_include_tag "/js/collection/slideshow.js" %>
<%#= javascript_include_tag "/js/collection/infinite.js" %>
<%#= javascript_include_tag "/js/collection/datePicker.js" %>
<%#= javascript_include_tag "/js/collection/jquery.Jcrop.js" %>
<%= javascript_include_tag "/js/collection/jquery.colourPicker.js" %>
<%= javascript_include_tag "/js/collection/jquery.truncate.js" %>
<%= javascript_include_tag "/js/collection/jquery.selectbox-0.2.min.js" %>
<%= javascript_include_tag "/js/collection/jquery.autosize.js" %>
<%= javascript_include_tag "/js/collection/jquery.tagsinput.min.js" %>
<%= javascript_include_tag "/js/collection/notify/jquery.noty.js" %>
<%= javascript_include_tag "/js/collection/notify/topCenter.js" %>
<%= javascript_include_tag "/js/collection/notify/default.js" %>
<%= javascript_include_tag "/js/collection/setItemsHighlighter.js" %>

<script type="text/javascript">
// 팔로우하기
function follow(){
    var postData = new Object();
    postData.follow_id = "<%= @user.id%>";
    postData.follow_type = "<%= @user.user_type%>";

	// ajax post 에서 세션 유지 시키기 위함
	$.ajaxSetup({
	  beforeSend: function(xhr) {
	    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
	  }
	});

    $.ajax({
        url     : '/follows/put',
        type    : 'post',
        dataType: 'json',
        data	: $.param(postData),
        async   : false,  
        success : function(json){
        	$('#followDv').removeClass();
    		if(json.follow_status=='Y'){
    			$('#followDv').html('<i class="icon-user"></i> <span style="font-size:12px; padding-left:10px;">스토어 Unfollow</span>');
    			$('#followDv').addClass('btn btn-info');
    		}else{
    			$('#followDv').html('<i class="icon-user"></i> <span style="font-size:12px; padding-left:10px;">스토어 Follow</span>');
    			$('#followDv').addClass('btn btn-default btn-inverse');
    		}
        },
        error   : function(e){
        }
    });
}


// 스크랩, 좋아요
function getItem(get_type,collection_id){
	if (get_type == 'S'){
		var doc = document.body.createTextRange();
		doc.moveToElementText(document.getElementById("itemCaption"));
		doc.select();
		doc.execCommand('copy');
		$('#popupContainerScrap').hide();
		alert("내용이 클립보드에 복사되었습니다. Ctrl+v를 눌러 사용하세요.");
	}

<%	if @session_user_id && @session_user_id!="" %>	
	var postData = new Object();
	postData.collection_id		= collection_id;
	postData.get_type	= get_type;
	if (get_type == 'L'){
		postData.msg_type		= 'L';
		//postData.msg_user_id	= '<%= @product.user_id%>';
		postData.msg_ref_url	= '/collections/pshow/<%= @collection_id%>';
		postData.msg_contents	= '<strong><a href="/mypage/<%=session[:profile_id]%>"><%=session[:user_name]%></a></strong>님이 회원님의 상품을 좋아합니다.';
	} else if (get_type == 'S'){
		postData.msg_type		= 'S';
		//postData.msg_user_id	= '<%= @product.user_id%>';
		postData.msg_ref_url	= '/collections/pshow/<%= @collection_id%>';
		postData.msg_contents	= '<strong><a href="/mypage/<%=session[:profile_id]%>"><%=session[:user_name]%></a></strong>님이 회원님의 상품을 스크랩하였습니다.';
	}

	// ajax post 에서 세션 유지 시키기 위함
	$.ajaxSetup({
		beforeSend: function(xhr) {
			xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
		}
	});

	$.ajax({
		url     : '/gets/put',
		type    : 'post',
		dataType: 'json',
		data	: $.param(postData),
		async   : false,  
		success : function(json){
			//notify('success', json.msg);
			if (get_type == 'S'){
				$('#cnt_scrap').html(json.cnt_item);
			} else if (get_type == 'L'){
        		$('#cnt_like').html(json.cnt_item);

        		if(json.like_status=='Y'){
        			$('#likeDv').attr("style","color:red");
        		}else{
        			$('#likeDv').attr("style","color:black");
        		}
        	}
		},
		error   : function(e){
			//semafors['ajax'] = false;
			//notify('error', TranslationLabels['could_not_complete_request']);
		}
	});

<%	else %>
	if (get_type == 'L'){
		login_pop(document.location.href);
	}
<%	end %>


}

// 찜하기
function getItemWish(collection_id){
    if(semafors['ajax'] == true)
        return;
        
    semafors['ajax'] = true;
    
    var postData = new Object();
    postData.subject = $('#wish_subject').val();
    postData.contents = $('#wish_contents').val();

	// ajax post 에서 세션 유지 시키기 위함
	$.ajaxSetup({
	  beforeSend: function(xhr) {
	    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
	  }
	});

    $.ajax({
        url     : '/wishes/put?collection_id='+collection_id,
        type    : 'post',
        dataType: 'json',
        data	: $.param(postData),
        async   : false,  
        success : function(json){
        	semafors['ajax'] = false;
        	
        	if(json.status){
        		notify('success', json.msg);
        		$('#popupContainerWish').fadeOut(300);
        	} else {
        		notify('error', json.msg);
        	}
        	$('#cnt_wish').html(json.cnt_item);
        	
        },
        error   : function(e){
            semafors['ajax'] = false;
            notify('error', TranslationLabels['could_not_complete_request']);
        }
    });
}


function like(obj){
<%	if @session_user_id && @session_user_id!="" %>
		var id = obj.id;
		var arrId = id.split('_');
		
		$('#msg_type').val('L');
		$('#msg_ref_user_id').val('<%=session[:user_id]||""%>');
		$('#msg_ref_user_name').val('<%=session[:user_name]||""%>');
		$('#msg_ref_profile_id').val('<%=session[:profile_id]||""%>');
		$('#msg_ref_url').val('/collections/pshow/'+arrId[1]);
		$('#msg_contents').val('<strong><a href="/mypage/<%=session[:profile_id]%>"><%=session[:user_name]%></a></strong>님이 회원님의 상품을 좋아합니다.');
		
		likeItem(arrId[1]);
<%	else %>
		login_pop(document.location.href);
<%	end %>
}

$(function() {
	// 좋아요
	$( ".like_icon" ).click(function() {
		like(this);
	});
	// 좋아요 취소
	$( ".like_icon_on" ).click(function() {
		like(this);
	});
	
	getItemList();
	getCommentList();
});


// scroll event
$(window).scroll(function(){
	if($(window).scrollTop() == $(document).height() - $(window).height() && nextPage>1 && searchYn){
		getItemList();
	}
});

var nextPage = 1;
var searchYn = true;

function getItemList(){
	var order = "store_type DESC, hit DESC";
	var postData = new Object();
	postData.page = nextPage;
	postData.per_page = 16;
	postData.type = "P";
	//postData.search_key = '<%= strip_tags(@product.subject)%>';
	postData.cate_code = '<%=@product.cate_code%>';
	postData.color_code = '<%=@product.color_code_s%>';
	postData.order = order;

	if (searchYn){
		layer_open_loading("loading_pop_layer",5,"N");
		
		setTimeout( function() {
			
			// ajax post 에서 세션 유지 시키기 위함
			$.ajaxSetup({
			  beforeSend: function(xhr) {
			    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
			  }
			});
			
			$.ajax({
			    url     : '/main/itemListCallback',
			    type    : 'post',
			    data	: $.param(postData),
			    dataType: 'json',
			    async   : false,  
			    success : function(json){
			    	collections = json.collections;
			    	layer_close_loading("loading_pop_layer");
		
			    	if(json.status){
						if(collections.length>0) {
							nextPage++;
							$.each(collections, function (index, collection) {
								var cnt_like_user = collection.cnt_like_user
								var class_like = "like_icon"
								if(cnt_like_user>0){
									class_like = "like_icon_on"
								}

								var change_price = collection.price;
								var change_price_type = "KRW";
								if (collection.price_type=="USD") {
									change_price = $('#currency_usd').val()*change_price;
								} else if (collection.price_type=="JPY") {
									change_price = $('#currency_jpy').val()*change_price;
								} else if (collection.price_type=="EUR") {
									change_price = $('#currency_eur').val()*change_price;
								} else if (collection.price_type=="GBP") {
									change_price = $('#currency_gbp').val()*change_price;
								} else if (collection.price_type=="CNY") {
									change_price = $('#currency_cny').val()*change_price;
								}
								
								var priceStr = getMoneyType(change_price,change_price_type);
								
								var li = '<li>'
								+ '<div class="thumbnail" style="width:230px;height:300px;display:table-cell;text-align:center;vertical-align:middle;">'
								
								+ '<div style="width:230px;height:230px;display:table-cell;text-align:center;vertical-align:middle;">' 
								+ '	<img src="/data/product/medium/'+ collection.img_file_name+'" onClick="document.location.href=\'/collections/pshow/'+ collection.id+'\'" style="cursor:pointer">'
								+ '</div>'
								+ '<div style="text-align:left; padding:5px 0px 0px 5px; width:220px; height:45px; ">'
								+ '	<a href="javascript:goProductUrl(\''+collection.url+'\',\''+collection.merchant+'\',\'product\')"><span style="color:#000000">'+collection.subject+'</span></a><br/>'
								+ priceStr + "&nbsp;"
								+ '	<a href="/mypage/'+collection.profile_id+'" style="color:#0088cc">'+collection.profile_id+'</a>'
								+ '</div>'
								+ '<div style="text-align:right;padding-right:10px;">'
								+ '	<span id="id_'+collection.id+'" class="'+class_like+'" onClick="like(this);"></span>'
								+ '	<span id="cnt_'+collection.id+'" class="like_count">'+collection.cnt_like+'</span>'
								+ '	<span class="view_icon"></span>'
								+ '	<span class="view_count">'+collection.hit+'</span>'
								+ '</div>'
								
								+ '</div>'
								+ '</li>';
								
								$('#itemList').append(li);
							});
						} else {	// 결과값이 없을경우
							searchYn = false;
							if(nextPage==1){
								$('#itemList').append('<li style="width:100%;height:300px;padding-top:100px;font-weight:bold;font-size:20px;text-align:center;">No results found</li>');
							} else {
								$('#itemList').append('<li style="width:100%;padding-top:10px;font-weight:bold;font-size:15px;text-align:center;">No results found</li>');
							}
						}
		
			    	} else {
			    		searchYn = false;
			    		notify('error', json.msg);
			    	}
			    	
			    },
			    error   : function(e){
			        searchYn = false;
			        semafors['ajax'] = false;
			        //notify('error', TranslationLabels['could_not_complete_request']);
			    }
			});
		}, 10 );
	}	// if(searchYn){
		
}

// 댓글 등록
function writeComment(){
<%	if @session_user_id && @session_user_id!="" %>
	var comment_contents = $("#comment_contents").val();
	if(comment_contents==""){
		alert("댓글 내용을 입력하세요");
	} else {

		var postData = new Object();
		postData.comment_type	= 'P';
		postData.ref_id			= '<%= @collection_id%>';
		postData.msg_type		= 'P';
		postData.msg_user_id	= '<%= @product.user_id%>';
		postData.msg_ref_url	= '/collections/pshow/<%= @collection_id%>';
		postData.msg_contents	= '<strong><a href="/mypage/<%=session[:profile_id]%>"><%=session[:user_name]%></a></strong>님이 회원님의 상품에 댓글을 남겼습니다.';
		postData.contents		= comment_contents;
	
		// ajax post 에서 세션 유지 시키기 위함
		$.ajaxSetup({
		  beforeSend: function(xhr) {
		    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
		  }
		});
		
		$.ajax({
		    url     : '/comments/writeCallback',
		    type    : 'post',
		    data	: $.param(postData),
		    dataType: 'json',
		    async   : false,  
		    success : function(json){
		    	
		    	if(json.status){
		    		$("#comment_contents").val("");
		    		getCommentList();
		    	} else {
		    		alert("댓글 작성을 실패하였습니다. 다시 시도해 주세요.");
		    	}
		    },
		    error   : function(e){
		        semafors['ajax'] = false;
		        //notify('error', TranslationLabels['could_not_complete_request']);
		    }
		});
		
	}
<%	else %>
	login_pop(document.location.href);
<%	end %>
}


// 댓글 삭제
function deleteComment(id){
	if(id){
		if(confirm("정말 삭제할까요?")){
			var postData = new Object();
			postData.id = id;
		
			// ajax post 에서 세션 유지 시키기 위함
			$.ajaxSetup({
			  beforeSend: function(xhr) {
			    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
			  }
			});
			
			$.ajax({
			    url     : '/comments/deleteCallback',
			    type    : 'post',
			    data	: $.param(postData),
			    dataType: 'json',
			    async   : false,  
			    success : function(json){
			    	if(json.status){
			    		getCommentList();
			    	} else {
			    		alert("댓글 삭제를 실패하였습니다. 다시 시도해 주세요.");
			    	}
			    },
			    error   : function(e){
			        semafors['ajax'] = false;
			        //notify('error', TranslationLabels['could_not_complete_request']);
			    }
			});
		}
		
	}
}


var comment_cpage = 1;

function getCommentList(){
	var order = "A.created_at DESC, A.id DESC";
	var postData = new Object();
	postData.page = comment_cpage;
	postData.comment_type = "P";
	postData.ref_id = '<%= @collection_id%>';
	postData.per_page = 5;
	postData.order = order;

	// ajax post 에서 세션 유지 시키기 위함
	$.ajaxSetup({
	  beforeSend: function(xhr) {
	    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
	  }
	});
	
	$.ajax({
	    url     : '/comments/commentListCallback',
	    type    : 'post',
	    data	: $.param(postData),
	    dataType: 'json',
	    async   : false,  
	    success : function(json){
	    	comments = json.comments;
	    	cnt_comment = json.cnt_comment;
	    	
	    	$('#comment_count').html(cnt_comment);
	    	$('#commentList').empty();

	    	if(json.status){
				if(comments.length>0) {
					$.each(comments, function (index, comment) {
						var li = ''
						+ '<div style="border-bottom:1px solid #cccccc; padding-top:5px;">'
						+ '	<div style="float:left;width:60px;height:60px;">';
						if(comment.img_file_name!=""){
							li += '<a href="/mypage/'+comment.profile_id+'"><img src="/data/user/thumb/'+comment.img_file_name+'" class="img-circle" style="width:45px;height:45px;"/></a>';
						} else {
							li += '<a href="/mypage/'+comment.profile_id+'"><img src="/images/common/profile_u_sm.png" class="img-circle" style="width:45px;height:45px;"/></a>';
						}
						li += '	</div>'
						+ '	<div style="float:left;width:300px;">'
						+ '<a href="/mypage/'+comment.profile_id+'" class="blue">'+comment.user_name+'</a>님이 '+comment.created_at_str+' 전에 작성하였습니다.<br/>'
						+ comment.contents
						+ '	</div>'
						+ '	<div style="float:right;width:30px;">';
						
						if(comment.reg_id=='<%=@session_user_id%>'){
							li += '<button type="button" class="btn btn-small btn-default" onClick="deleteComment('+comment.id+');"><i class="icon-trash"></i></button>';
						}
						
						li += '	</div>'
						+ '	<div style="clear:both"></div>'
						+ '</div>';
						
						$('#commentList').append(li);
					});
				} else {	// 결과값이 없을경우
					if(comment_cpage==1){
						//$('#commentList').append('No results found');
					}
				}

	    	} else {
	    		notify('error', json.msg);
	    	}
	    	
	    },
	    error   : function(e){
	        semafors['ajax'] = false;
	        //notify('error', TranslationLabels['could_not_complete_request']);
	    }
	});
}

</script>

<script language="javascript">

window.fbAsyncInit = function() {
	FB.init({
		appId      : '<%=FACEBOOK_APP_ID%>',
		xfbml      : true,
		version    : 'v2.0'
	});
};

(function(d, s, id){
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) {return;}
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/ko_KR/sdk.js";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

//stream publish method
function streamPublish(){
	var itemLink = "<%= request_host%>/collections/pshow/<%= @collection_id%>";
	var imgLink = "<%= request_host%>/data/collection/thumb/<%= @product.img_file_name%>";
    FB.ui(
    {
        method: 'stream.share',
        message: "<%= strip_tags(@product.subject)%>",
        type: "paffy_share:fashion",
        attachment: {
            name: "<%= strip_tags(@product.subject)%>",
            caption: "",
            description: "",
            media: [{  
				type: "image", 
				src: imgLink,    
				href: itemLink
			}], 
            href: itemLink
        },
        action_links: [
            { text: "<%= strip_tags(@product.subject)%>", href: itemLink }
        ]
    },
    function(response) {
		if (response && response.post_id) {
			alert('Post was published.');
		} else {
			//alert('Post was not published.');
		}
    });
}

function showStream(){
    FB.api('/me/objects/paffy_share:fashion', function(response) {
        //console.log(response.id);
        streamPublish();
    });
}

function share(){
    var share = {
        method: 'stream.share',
        u: document.location.href
    };
    FB.ui(share, function(response) { console.log(response); });
}


// 카카오스토리 공유
var chkKakaoLogin = false;
function shareKakao(){
    if(!chkKakaoLogin){
    	Kakao.init('<%= KAKAO_JS_KEY%>');	// 다시한번 할경우 에러난다....!!!!
    }

	Kakao.Auth.login({
		success: function(authObj) {
			chkKakaoLogin = true;
			// 로그인 성공시, API를 호출합니다.
			Kakao.API.request( {
				url : '/v1/api/story/linkinfo',
				data : {
					url : document.location.href
				}
			}).then(function(res) {
				//alert(JSON.stringify(res));	// 이미지를 못 가져옴... 카카오 문의 후 수정할것
				// 이전 API 호출이 성공한 경우 다음 API를 호출합니다.
				return Kakao.API.request( {
					url : '/v1/api/story/post/link',
					data : {
						link_info : res
					}
				});
			}).then(function(res) {
				return Kakao.API.request( {
					url : '/v1/api/story/mystory',
					data : { id : res.id }
				});
			}).then(function(res) {
				alert("카카오 스토리에 포스팅하였습니다");
			}, function (err) {
				alert(JSON.stringify(err));
			});
		}
	});  

}

function shareKakaoLink(){
    Kakao.init('<%= KAKAO_JS_KEY%>');

    // 카카오톡 링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
    Kakao.Link.createTalkLinkButton({
      container: '#kakao-link-btn',
      label: '카카오링크 샘플에 오신 것을 환영합니다.',
      image: {
        src: '<%= request_host%>/data/collection/thumb/<%= @product.img_file_name%>',
        width: '300',
        height: '200'
      },
      webButton: {
        text: '카카오 디벨로퍼스',
        url: 'https://dev.kakao.com/docs/js' // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
      }
    });
}
</script>

<!-- 페이스북 -->
<meta property="og:title"           content="<%= strip_tags(@product.subject)%>"/>
<meta property="og:site_name"       content="paffy.com"/>
<meta property="og:description"     content="<%= strip_tags(@product.subject)%>"/>
<meta property="og:type"			content="paffy_share:fashion" />
<meta property="og:image"     		content="<%= request_host%><%= @product.img.url(:medium)%>"/>
<%= render :partial => '/common/header_bottom' %>

<input type="hidden" id="currency_usd" value="<%=@currency_usd%>">
<input type="hidden" id="currency_jpy" value="<%=@currency_jpy%>">
<input type="hidden" id="currency_eur" value="<%=@currency_eur%>">
<input type="hidden" id="currency_gbp" value="<%=@currency_gbp%>">
<input type="hidden" id="currency_cny" value="<%=@currency_cny%>">

<%
	price_type_str = "￦"
	change_price = @product.price.to_f

	if @product.price_type=="USD"
		change_price = @currency_usd.to_f*change_price;
	elsif @product.price_type=="JPY"
		change_price = @currency_jpy.to_f*change_price;
	elsif @product.price_type=="EUR"
		change_price = @currency_eur.to_f*change_price;
	elsif @product.price_type=="GBP"
		change_price = @currency_gbp.to_f*change_price;
	elsif @product.price_type=="CNY"
		change_price = @currency_cny.to_f*change_price;
	end

	price_str = number_to_currency(change_price, :unit => price_type_str, :precision => 0)
%>

<!-- 스크랩 -->
<div id="popupContainerScrap" class="popup product small" style="position: absolute; width:400px; top: 200px; left: 392px;">
	<a class="close" onclick="$('#popupContainerScrap').fadeOut(300); return false;" href="#"></a>

	<div id="scrapDiv" style="padding:0px 20px 0px 20px;">
		<form class="form smallForm" id="collectionAddForm">
			<h3>스크랩</h3>
			<div class="space"></div>
<textarea id="itemCaption" class="login-input" name="collection_item[caption]">
<div style='font-size:9pt;margin: 0px auto; width: 650px; text-align:center;'>
<h3><%= strip_tags(@product.subject)%></h3>
<div>
<a href='<%= request_host%>/collections/pshow/<%= @collection_id%>' target='_blank'><img src='<%= request_host%><%= @product.img.url(:original)%>'></a>
<br />
<h5>가격 : <%= price_str%></h5>
<br />
<%= @user.user_name%>님이 포스팅한 상품입니다.
</div>
</div>
</textarea>
			<h6>소스를 복사해서 붙여넣으세요</h6>
		</form>
		<div class="socialBtnsHolder">
			<div>
				<a href="#" class="bBlue create submitButton"
				 onclick="getItem('S',<%= @collection_id%>); return false;"
				 id="btnCopy"> <span>클립보드에복사</span>
				</a>&nbsp;&nbsp;&nbsp;
				<a class="bGray" onclick="$('#popupContainerScrap').fadeOut(300); return false;" href="#">닫기</a>
			</div>
		</div>
	</div>
</div>


<!-- 찜하기 -->
<div id="popupContainerWish" class="popup product small" style="position: absolute; width:400px; top: 200px; left: 392px;">
	<a class="close" onclick="$('#popupContainerWish').fadeOut(300); return false;" href="#"></a>

	<div style="padding:0px 20px 0px 20px;">
		<form class="form smallForm" id="frmWish" name="frmWish">
			<h3>찜하기</h3>
제목
<input type="text" class="login-input" id="wish_subject" name="wish_subject">
			<div class="space"></div>
내용
<textarea class="login-input" id="wish_contents" name="wish_contents"></textarea>
		</form>
		<div class="socialBtnsHolder">
			<div>
				<a href="#" class="bBlue create submitButton"
				 onclick="getItemWish(<%= @product.id%>); return false;"
				 id="btnCopy"> <span>찜하기</span>
				</a>&nbsp;&nbsp;&nbsp;
				<a class="bGray" onclick="$('#popupContainerWish').fadeOut(300); return false;" href="#">닫기</a>
			</div>
		</div>
	</div>
</div>



      <!----------------------------start wrapper------------------------------->
      <div id="wrapper">
          <div id="wrapperShadow"></div>
         <!----------------------------start page------------------------------->
        <div id="page">
          <!----------------------------start container------------------------------->                              
        
        
        
        

	<div class="whiteHeader cf" style="text-align:center;margin-top:20px;line-height:110%;">
		<center>
		<div style="background-color:#fff;padding:20px;">
			
			<div style="border-bottom:1px solid #cccccc; height:35px;">
				
<div style="float:left">
<button type="button" class="btn btn-small btn-default" onClick="$('#popupContainerScrap').fadeIn(300);">
	<i class="icon-share"></i>
	스크랩
	&nbsp;
	<span id="cnt_scrap"><%= @cnt_scrap%></span>
</button>

<button type="button" class="btn btn-small btn-default" onClick="getItem('L',<%= @product.id%>); return false;">
<% if @cnt_like_user>0 %>
	<i id="likeDv" class="icon-heart" style="color:red"></i>
<% else %>
	<i id="likeDv" class="icon-heart"></i>
<% end %>
	좋아요
	&nbsp;
	<span id="cnt_like"><%= @cnt_like%></span>
</button>
            	
<!--button type="button" class="btn btn-small btn-default" onClick="showStream();">
	<i class="icon-comment"></i>
	이건어때?
</button-->

<button type="button" class="btn btn-small btn-default" onClick="share();">
	<i class="icon-user"></i>
	facebook 공유
</button>

<button type="button" class="btn btn-small btn-default" onClick="shareKakao();">
	<i class="icon-user"></i>
	카카오스토리 공유
</button>
</div>

<!--div style="float:left; padding:3px 0px 0px 10px;">
	<div
	  class="fb-like"
	  data-layout="button_count"
	  data-send="false"
	  data-width="450"
	  data-show-faces="true">
	</div>
</div-->            	
<div style="clear:both"></div>
            	
			</div>
			
			<div style="padding-top:10px;"></div>	
			
			
			<!-- 왼쪽 내용 시작 -->
			<div class="mainImage" style="float:left; width:680px; text-align:left; font-size:12px;">

            	
				<div class="whiteBox" style="padding:0px;">
                	<div class="items" style="text-align:center;">
						<a class="productLink" href="<%= @product_url%>" target="_blank"><%= image_tag @product.img.url(:original), id: "set#{@product.id}", class: "setImage" %></a>
					</div>
				</div>
				
				
			</div>
			<!-- 왼쪽 내용 끝 -->
			
			
			<!-- 오른쪽 내용 시작-->
			<div style="float:right; text-align:left; width:400px; font-size:12px;">
				<div style="font-weight:bold;font-size:20px;color:#000000;" class="title_font"><%= strip_tags(@product.subject) %></div>

            	<div style="padding-top:10px;">
					
					<div style="text-align:left;">
            		<strong><%= link_to @user.profile_id, '/mypage/'+@user.profile_id, class: "blue" %></strong> 에서
<%
	createTime = (Time.zone.now - @product.created_at).to_i
	createTimeStr =  (Time.zone.now - @product.created_at).to_i / 1.second
	if createTime<60
		createTimeStr =  ((Time.zone.now - @product.created_at).to_i / 1.second).to_s + "초" 
	elsif createTime<60*60
		createTimeStr =  ((Time.zone.now - @product.created_at).to_i / 1.minute).to_s + "분"
	elsif createTime<60*60*24
		createTimeStr =  ((Time.zone.now - @product.created_at).to_i / 1.hour).to_s + "시간"
	elsif createTime<60*60*24*30
		createTimeStr =  ((Time.zone.now - @product.created_at).to_i / 1.day).to_s + "일"
	elsif createTime<60*60*24*365
		createTimeStr =  ((Time.zone.now - @product.created_at).to_i / 1.month).to_s + "개월"
	elsif createTime>=60*60*24*365
		createTimeStr =  ((Time.zone.now - @product.created_at).to_i / 1.year).to_s + "년"
	end
%>
<strong style="color:black"><%=createTimeStr%></strong> 전에 등록되었습니다.
					</div>
					<div style="text-align:left;">
						조회 <strong style="color:black"><%= @product.hit%></strong>, 좋아요 <strong style="color:black"><%= @cnt_like%></strong>
					</div>
					<div style="text-align:left;padding-top:10px;font-weight:bold;color:black;font-size:18px;">
						<%= price_str%>
					</div>

					
					<div style="padding-top:5px;">
						<a type="button" class="btn btn-default btn-inverse" href="<%= @product_url%>" target="_blank" style="width:370px;text-align:left;">
							<i class="icon-shopping-cart"></i>
							<span style="font-size:12px; padding-left:10px;">상품 상세정보 확인 (Buy)</span>
						</a>
					</div>
					<div style="padding-top:5px;">
						<a type="button" class="btn btn-default btn-inverse" onClick="document.location.href='/mypage/<%=@user.profile_id%>';" style="width:370px;text-align:left;">
							<i class="icon-list"></i>
							<span style="font-size:12px; padding-left:10px;">스토어의 다른 상품 보기</span>
						</a>
					</div>
					
					<div style="padding-top:5px;">
<%	if @session_user_id && @session_user_id!="" %>
<%		if @session_user_id != @user.id %>
<%			if @follow_count>0 %>
						<a id="followDv" type="button" class="btn btn-info" onClick="follow();" style="width:370px;text-align:left;">
							<i class="icon-user"></i>
							<span style="font-size:12px; padding-left:10px;">스토어 Unfollow</span>
						</a>
<%			else %>
						<a id="followDv" type="button" class="btn btn-default btn-inverse" onClick="follow();" style="width:370px;text-align:left;">
							<i class="icon-user"></i>
							<span style="font-size:12px; padding-left:10px;">스토어 Follow</span>
						</a>
<%			end %>
<%		end %>
<%	else %>
						<a id="followDv" type="button" class="btn btn-default btn-inverse" onClick="login_pop(document.location.href);" style="width:370px;text-align:left;">
							<i class="icon-user"></i>
							<span style="font-size:12px; padding-left:10px;">스토어 Follow</span>
						</a>						
<%	end %>

					</div>
					<div style="padding-top:10px;color:black;font-size:12px;">
						<strong class="title_font" style="font-size:16px">Shopping Tip</strong>
						<br>
						등록시 작성된 제목과 가격은 현재와 다를 수 있습니다.<br>
						상품 상세정보 및 품절여부를 확인해 주세요.
					</div>

            	</div>
            	
            	<div style="padding-top:10px;">
					<strong id="comment_count" style="color:black"></strong>개의 댓글이 있습니다
					<br/>
					<textarea id="comment_contents" name="comment_contents" maxlength="500" style="width:380px;height:30px;"></textarea>
					<br/>
					<button type="button" class="btn btn-small btn-default" onClick="writeComment()">댓글입력</button>
					<div id="commentList" style="padding-top:10px;"></div>
				</div>
				
			</div>
			<!-- 오른쪽 내용 끝-->
			<div style="clear:both"></div>
			

		</div>
		
		
		
		
			<!-- 하단 내용 시작-->
			<div style="text-align:left; padding:20px; font-size:12px;">
				
				<div style="font-size:18px; font-weight:bold; color:black; padding:10px 0px 10px 50px;">
					Similar Items
				</div>
				
				
				<div class="image_grid portfolio_4col" style="padding-left:25px;">
				    <ul id="itemList" class="portfolio_list">
				    </ul>
			    </div>
				
			</div>
			<!-- 하단 내용 끝-->
		
		</center>
	</div>
        

        
    
      <!----------------------------end container------------------------------->
      <a href="#top" id="top-link" class="floatingLink">top</a>
      <!--a href="#top" id="about-link" class="floatingLink">About</a-->
    </div>
     <!----------------------------end page------------------------------->    
</div>
<!----------------------------end wrapper------------------------------->

<script type="text/javascript">
	window.onload = function() {
		$('.items').setItemsHighlighter();
	};
</script>
