<%= render :partial => '/common/pop_header_top' %>
<%= stylesheet_link_tag    "/css/signin.css", :media => "all" %>
<%= javascript_include_tag "/js/kakao-1.0.8.min.js" %>

<%= render :partial => '/common/pop_header_bottom' %>

<div class="form-signin" style="padding-top:0px;">
	<h4 class="form-signin-heading" style="font-family:sans-serif;font-style:italic;">
		Sign in to Paffy
	</h4>
	
	<%= form_tag "/sessions/createpop", style: "margin:0px;" do %>
<input type="hidden" name="backurl" value="<%= @backurl%>" />
<input type="hidden" name="target" value="<%= @target%>" />

	  <div>
		  <div style="float:left;"><a href="javascript:authFB()"><img src="/images/common/btn_login_facebook.png"></a></div>
		  <div style="float:right;"><a href="javascript:loginWithKakao()"><img src="/images/common/btn_login_kakao.png"></a></div>
		  <div style="clear:both;"></div>
	  </div>
	  <hr>
	  <div style="text-align:center;padding-bottom:5px;">또는 이메일 계정으로 로그인</div>
	  <%= text_field_tag :email, params[:email], label: "이메일", class: "input-block-level", placeholder: "이메일을 입력하세요", help: "사용하시는 이메일 주소를 입력하세요", required: true, autofocus: true, pattern: '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
	  <%= password_field_tag :password, params[:password], label: "비밀번호", class: "input-block-level", placeholder: "비밀번호를 입력하세요", required: true %>
	  <label class="checkbox">
	    <input type="checkbox" value="remember-me"> Remember me
	  </label>
	  <div style="padding-top:10px;">
	  	<%= submit_tag "로그인", class: "btn btn-primary", style: "width:100%" %>
	  </div>
	  
	<% end %>
	
	<div id="kakao"></div>	

	<div style="padding-top:5px;">
	<%= link_to "회원가입", sign_up_path %>
	</div>
	
	<% flash.each do |name, msg| %>
	  <div style="border:1px dotted black; background-color:#f4f4f4; padding:10px; font-weight: bold;">
	  	<%= content_tag :div, msg, :id => "flash_#{name}" %>
	  </div>
	<% end %>

</div>


<script language="JavaScript">
Kakao.init('<%= KAKAO_JS_KEY%>');
var refreshToken = Kakao.Auth.getRefreshToken();	// 로그인시 발급된 Token

// 로그인 창을 띄웁니다.
function loginWithKakao() {
	Kakao.Auth.login({
		success: function(authObj) {
			//alert(JSON.stringify(authObj));
			
			refreshToken = Kakao.Auth.getRefreshToken();
			//Kakao.Auth.setAccessToken(accessTokenFromServer);
			
			Kakao.API.request({
				url: '/v1/user/me',
				success: function(data) {
					//alert(JSON.stringify(data));
					layer_open_loading("loading_pop_layer",8,"Y");
					authKakao(data);
				}
			});
			
		}
	});
};

function authKakao(data){
	var url = "/auth/kakao"
	$.ajax(url+'?provider=kakao', {
	    type: 'post',
	    data: data,
	    cache: false,
	    dataType: "json",
	    success : function(json){
	        if(json.status == true){
	            reload(); 
	        }
	    },
	    error: function(){
	        alert("로그인 오류입니다. 다시 시도해 주세요.");
	    }
	});
}

function authFB(){
	window.open("/auth/facebook","login facebook","width=450,height=400,scrollbars=yes,resizeable=yes");
}

function reload(){
	layer_open_loading("loading_pop_layer",8,"Y");
<% if @stay && @stay!='' %>
	parent.goSubmit();
<% else %>
<% 	if @backurl && @backurl!='' %>
	<% if @target=='self' %>
		document.location.href = '<%=@backurl%>';
	<% else %>
		parent.document.location.href = '<%=@backurl%>';
	<% end %>
<% 	else %>
	<% if @target=='self' %>
		document.location.href = document.location.href;
	<% else %>
		parent.document.location.href = parent.document.location.href;
	<% end %>
<% 	end %>
<% end %>
	layer_close();
}





</script>

<%= render :partial => '/common/pop_footer' %>