<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_item.user_id %>
</p>

<p>
  <b>Ref:</b>
  <%= @user_item.ref_id %>
</p>

<p>
  <b>Item type:</b>
  <%= @user_item.item_type %>
</p>


<%= link_to 'Edit', edit_user_item_path(@user_item) %> |
<%= link_to 'Back', user_items_path %>
