<p id="notice"><%= notice %></p>

<p>
  <b>Collection:</b>
  <%= @collection_product.collection_id %>
</p>

<p>
  <b>Product:</b>
  <%= @collection_product.product_id %>
</p>

<p>
  <b>White bck:</b>
  <%= @collection_product.white_bck %>
</p>

<p>
  <b>Flip:</b>
  <%= @collection_product.flip %>
</p>

<p>
  <b>Flop:</b>
  <%= @collection_product.flop %>
</p>

<p>
  <b>Height:</b>
  <%= @collection_product.height %>
</p>

<p>
  <b>Top:</b>
  <%= @collection_product.top %>
</p>

<p>
  <b>Left:</b>
  <%= @collection_product.left %>
</p>

<p>
  <b>Cssleft:</b>
  <%= @collection_product.cssleft %>
</p>

<p>
  <b>Csstop:</b>
  <%= @collection_product.csstop %>
</p>

<p>
  <b>Zindex:</b>
  <%= @collection_product.zindex %>
</p>

<p>
  <b>Rotate:</b>
  <%= @collection_product.rotate %>
</p>


<%= link_to 'Edit', edit_collection_product_path(@collection_product) %> |
<%= link_to 'Back', collection_products_path %>
