<%= stylesheet_link_tag    "/css/collection/flat.css", :media => "screen" %>
<%#= javascript_include_tag "/js/collection/binds.js" %>
<div id="Profile" class="centerHolder" style="padding-top:20px;width:100%;">
	<div class="userInfoBox">
		<br/>
		<div class="row-fluid" style="padding:0px 35px 0px 35px;">
		<% if @user.img_file_name %>
			<div class="span2">
				<%= image_tag("/data/user/medium/"+@user.img_file_name, class: "img-polaroid") %>
			</div>
			<div class="span6">
		<% else %>
<%
	if @user.user_type=="S"
%>
			<div class="span8">
<%
	else
%>
			<div class="span2">
			<%= image_tag("/images/common/profile_u.png", class: "img-polaroid") %>
			</div>
			<div class="span6">
<%
	end
%>

		<% end %>
				<span class="title_font" style="font-size:32px;"><%= @user.user_name%></span>
<%	if @user.introduce && @user.introduce!="" %>
				<div><%=@user.introduce%></div>
<%	end %>

<%	if @user.url && @user.url!="" %>
				<div>
<%		if @user.user_type=="S" %>
					<a href="javascript:goProductUrl('<%=@user.url%>','<%=@user.profile_id%>','store');"><%= @user.url%></a>
<%		else %>
					<a href="<%= @user.url%>" target="_blank"><%= @user.url%></a>
<%		end %>
				</div>
<%	end %>

<%	if @user.contents && @user.contents!="" %>
				<div><%=@user.contents%></div>
<%	end %>


<%	if @session_user_id && @session_user_id!="" && @session_user_id == @user.id %>
				<div style="padding-top:10px;">
					<button id="followDv" type="button" class="btn btn-default btn-inverse disabled" onClick="editProfile();" style="cursor:pointer;text-align:left;">
						<i class="icon-cog"></i>
						<span style="font-size:12px;">Edit Profile</span>
					</button>	
				</div>
<%	end %>

				<div style="padding-top:10px;">
<% if @session_user_id != @user.id %>
	<% if @follow_count>0 %>
					<button id="followDv" type="button" class="btn btn-default btn-inverse disabled" onClick="follow();" style="cursor:pointer;width:150px;text-align:left;">
						<i class="icon-user"></i>
						<span style="font-size:12px; padding-left:10px;">Following</span>
					</button>
	<% else %>
					<button id="followDv" type="button" class="btn btn-default btn-inverse" onClick="follow();" style="width:150px;text-align:left;">
						<i class="icon-user"></i>
						<span style="font-size:12px; padding-left:10px;">Follow</span>
					</button>
	<% end %>
<% end %>
				</div>

			</div>
			<div class="span3">
				<div style="border-bottom:1px solid #cccccc;height:25px;padding-top:17px;">
					<i class="icon-eye-open"></i>
					<span style="padding-left:10px;"><%=number_to_currency(@cnt_view, :unit => "", :precision => 0)%> views</span>
				</div>
				<div style="border-bottom:1px solid #cccccc;height:25px;padding-top:7px;">
					<i class="icon-heart"></i>
					<span style="padding-left:10px;"><%=number_to_currency(@cnt_like, :unit => "", :precision => 0)%> likes</span>
				</div>
				<div style="border-bottom:1px solid #cccccc;height:25px;padding-top:7px;">
					<i class="icon-user"></i>
					<span style="padding-left:10px;"><%=number_to_currency(@cnt_follower, :unit => "", :precision => 0)%> followers</span>
				</div>
<%
	if @user.user_type=="S"
%>
				<div style="border-bottom:1px solid #cccccc;height:25px;padding-top:7px;">
					<i class="icon-shopping-cart"></i>
					<span style="padding-left:10px;"><%=number_to_currency(@cnt_product, :unit => "", :precision => 0)%> products</span>
				</div>
<%
	else
%>
				<div style="border-bottom:1px solid #cccccc;height:25px;padding-top:7px;">
					<i class="icon-user" style="color:#999999"></i>
					<span style="padding-left:10px;"><%=number_to_currency(@cnt_following, :unit => "", :precision => 0)%> following</span>
				</div>
<%
	end
%>				
			</div>
			<div class="span1">
			</div>
			
		</div>
		
	</div>
</div>

<input type="hidden" id="currency_usd" value="<%=@currency_usd%>">
<input type="hidden" id="currency_jpy" value="<%=@currency_jpy%>">
<input type="hidden" id="currency_eur" value="<%=@currency_eur%>">
<input type="hidden" id="currency_gbp" value="<%=@currency_gbp%>">
<input type="hidden" id="currency_cny" value="<%=@currency_cny%>">

<input type="hidden" id="item_type" value="<%=@item_type%>">
<input type="hidden" id="price_stat" value="">
<input type="hidden" id="color_code" value="">
<input type="hidden" id="cate_code" value="">
<input type="hidden" id="order_by" value="2">
<% if @item_type=="U" %>
<input type="hidden" id="list_type" value="L">
<% else %>
<input type="hidden" id="list_type" value="4">
<% end %>

	<div class="whiteHeader cf" style="text-align:left;margin-top:1px;">
		
        <div style="padding:10px 75px 0px 65px;">
        	
	        <div class="navbar"<% if @item_type=="P" %> style="margin-bottom:0px;"<% end %> >
	          <div class="navbar-inner">
	            <div class="container">
	              <ul class="nav">
	                <li <% if !@item_type || @item_type=="" %>class="active"<% end %>><a href="/mypage/<%=@profile_id%>">All</a></li>
	                <li <% if @item_type=="P" %>class="active"<% end %>><a href="/mypage/<%=@profile_id%>?type=P">Product</a></li>
<%	if @user.user_type=="U" %>
	                <li <% if @item_type=="C" %>class="active"<% end %>><a href="/mypage/<%=@profile_id%>?type=C">Set&collection</a></li>
<%	end %>
	                <li <% if @item_type=="L" %>class="active"<% end %>><a href="/mypage/<%=@profile_id%>?type=L">Like</a></li>
	                <li <% if @item_type=="U" %>class="active"<% end %>><a href="/mypage/<%=@profile_id%>?type=U">Following Members</a></li>
	                <li <% if @item_type=="S" %>class="active"<% end %>><a href="/mypage/<%=@profile_id%>?type=S">Following Stores</a></li>
	                <li <% if @item_type=="F" %>class="active"<% end %>><a href="/mypage/<%=@profile_id%>?type=F">Followers</a></li>

	              </ul>
	              <ul class="nav pull-right">
                      <li class="dropdown">
                        <a id="list_type_nav" href="#" class="dropdown-toggle" data-toggle="dropdown">
                        	<i class="icon-th"></i> 
                        	<% if @item_type=="U" %>
                        	List 보기
                        	<% else %>
                        	4단 보기
                        	<% end %>
                        	<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <!-- <li><a href="javascript:changeListType('5')"><i class="icon-th"></i> 5단보기</a></li> -->
                          <li class="list_type_nav<% if @item_type!="U" %> active<% end %>" id="list_type_nav_4"><a href="javascript:changeListType('4')"><i class="icon-th"></i> 4단보기</a></li>
                          <!-- <li><a href="javascript:changeListType('3')"><i class="icon-th-large"></i> 3단보기</a></li> -->
                          <li class="list_type_nav<% if @item_type=="U" %> active<% end %>" id="list_type_nav_L"><a href="javascript:changeListType('L')"><i class="icon-th-list"></i> List보기</a></li>
                        </ul>
                      </li>
                    </ul>
	            </div>
	          </div>
	        </div>
    
<% if @item_type=="P" %>
	        
			<div id="searchNavi">
<div id="smenu0" class="btn-group" style="margin-top:0px;">
  <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
    <span id="smenu0_title">Category (All)</span>
    <span class="caret"></span>
  </a>
  <ul class="btn-small dropdown-menu">
	<li id="smenu0_sub_All" class="smenu0_sub active"><a href="javascript:searchCate('All');">All</a></li>
	<li class="divider"></li>
<%	@cateList.each_with_index do |cate,i| %>
	<li id="smenu0_sub_<%=cate.c_cd%>" class="smenu0_sub"><a href="javascript:searchCate('<%=cate.c_cd%>');"><%=cate.c_name%></a></li>
<%	end %>
  </ul>
</div>


<div id="smenu1" class="btn-group" style="margin-top:0px;">
	<a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
		<span id="smenu1_title">Price (All)</span>
		<b class="caret"></b>
	</a>
	<ul class="btn-small dropdown-menu">
		<li id="smenu1_sub_0" class="smenu1_sub active"><a href="javascript:searchPrice(0);">All</a></li>
		<li class="divider"></li>
		<li id="smenu1_sub_1" class="smenu1_sub"><a href="javascript:searchPrice(1);">￦ 20,000 미만</a></li>
		<li id="smenu1_sub_2" class="smenu1_sub"><a href="javascript:searchPrice(2);">￦ 20,000 ~ ￦ 50,000</a></li>
		<li id="smenu1_sub_3" class="smenu1_sub"><a href="javascript:searchPrice(3);">￦ 50,000 ~ ￦100,000</a></li>
		<li id="smenu1_sub_4" class="smenu1_sub"><a href="javascript:searchPrice(4);">￦100,000 ~ ￦200,000</a></li>
		<li id="smenu1_sub_5" class="smenu1_sub"><a href="javascript:searchPrice(5);">￦200,000 ~ ￦500,000</a></li>
		<li id="smenu1_sub_6" class="smenu1_sub"><a href="javascript:searchPrice(6);">￦500,000 이상</a></li>
	</ul>
</div>


<div id="smenu2" class="btn-group" style="margin-top:0px">
	<a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
		<span>Color </span>
		<span id="smenu2_title"></span>
		<b class="caret"></b>
	</a>
	<ul class="btn-small dropdown-menu">
		<li style="padding:10px;">
<%
colorlist = ["ff0000", "f49024", "ffff00", "a5dd0c", "009900",  
 "08d6d8", "3232ff", "31318c", "8d1bff", "8d0647",  
 "ff59ac", "772a00", "ffffff", "b5b5b5", "000000"]

colorlist.each_with_index do |color,i|
%>
<div id="color_<%=color%>" class="color_palette" style="float:left;cursor:pointer;width:20px;height:20px;margin:1px;font-weight:bold;border:2px solid #ffffff;color:#ffffff;background-color:#<%=color%>;" onClick="searchColor('<%=color%>');"></div>
<%
if (i+1)%5==0
%><div style="clear:both"></div><%
	end
end	
%>
<div style="width:130px;color:#0088cc;text-align:right;cursor:pointer;" onClick="searchColor('');">clear</div>
			
		</li>
	</ul>
</div>


<div id="smenu3" class="btn-group" style="margin-top:0px">
	<a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
		<span id="smenu3_title">Sort (Just in)</span>
		<b class="caret"></b>
	</a>
	<ul class="btn-small dropdown-menu">
		<li id="smenu3_sub_1" class="smenu3_sub"><a href="javascript:searchSort(1);">Hit</a></li>
		<li id="smenu3_sub_2" class="smenu3_sub active"><a href="javascript:searchSort(2);">Just in</a></li>
	</ul>
</div>

			</div>
	        
<% end %>
        </div>
		
		<div id="products" class="products">
			<a name="top"></a>
			<div class="freshdesignweb">
			    <div id="itemListDv" class="image_grid portfolio_4col" style="padding-left:40px;padding-right:80px;">
				    <ul id="itemList" class="portfolio_list">
				    </ul>
			    </div>
			</div>
		</div>
		
		
	</div>
	
	
	<a href="#top" id="top-link" class="floatingLink">top</a>
	

<script type="text/javascript">
$(document).ready(function(){
	$(function() {
		$("#cmenu7").addClass("active");
<% if @item_type=="U" || @item_type=="S" || @item_type=="F" %>
		followList();
<% else %>
		itemList();
<% end %>
	});
});

// scroll event
$(window).scroll(function(){
	if($(window).scrollTop() == $(document).height() - $(window).height() && nextPage>1 && searchYn){
<% if @item_type=="U" || @item_type=="S" || @item_type=="F" %>
		followList();
<% else %>
		itemList();
<% end %>
	}
});

var nextPage = 1;
var searchYn = true;

function init(){
	nextPage = 1;
	searchYn = true;
	$("#itemList").empty();
}

// 리스트 형식 전환
function changeListType(val){
	init();
	$('#list_type').val(val);
	if(val=='L'){
		$('#list_type_nav').html('<i class="icon-th"></i> List 보기 <b class="caret"></b>');
	} else {
		$('#list_type_nav').html('<i class="icon-th"></i> '+val+'단 보기 <b class="caret"></b>');
	}
	$('.list_type_nav').removeClass("active");
	$('#list_type_nav_'+val).addClass('active');
<% if @item_type=="U" || @item_type=="S" || @item_type=="F" %>
	followList();
<% else %>
	itemList();
<% end %>
}

// 정렬
function searchSort(stat){
	init();
	var tit = "";
	if (stat==1) tit = "Hit";
	else if (stat==2) tit = "Just in";
	$("#smenu3_title").html("Sort ("+tit+")");
	$("#order_by").val(stat);
	$(".smenu3_sub").removeClass("active");
	$("#smenu3_sub_"+stat).addClass("active");
	itemList();
}

// 카테고리 검색
function searchCate(stat){
	init();
	$("#smenu0_title").html("Category ("+$("#smenu0_sub_"+stat+" a").html()+")");
	$("#cate_code").val(stat);
	$(".smenu0_sub").removeClass("active");
	$("#smenu0_sub_"+stat).addClass("active");
	itemList();
}

// 가격 검색
function searchPrice(stat){
	init();
	$("#smenu1_title").html("Price ("+$("#smenu1_sub_"+stat+" a").html()+")");
	$("#price_stat").val(stat);
	$(".smenu1_sub").removeClass("active");
	$("#smenu1_sub_"+stat).addClass("active");
	itemList();
}

// 색상 검색
function searchColor(code){
	init();
	if (code==""){
		$("#smenu2_title").html("");
		$("#smenu2_title").css("background-color","#"+code);
		$("#smenu2_title").css("border","0px");
	}else{
		$("#smenu2_title").html("&nbsp;&nbsp;&nbsp;");
		$("#smenu2_title").css("background-color","#"+code);
		if (code=="ffffff"){
			$("#smenu2_title").css("border","1px solid #cccccc");
		}else{
			$("#smenu2_title").css("border","0px");	
		}
	}
	
	$(".color_palette").css("border","2px solid #ffffff");
	$("#color_code").val(code);
	if(code!="") $("#color_"+code).css("border","2px solid #777777");
	itemList();
}

function itemList(){
	var order = "hit desc";
	if($("#order_by").val()=="1") order = "hit desc"; 
	else if($("#order_by").val()=="2") order = "created_at desc";
	
	var postData = new Object();
	postData.page = nextPage;
	postData.currency_usd = $("#currency_usd").val();
	postData.currency_jpy = $("#currency_jpy").val();
	postData.currency_eur = $("#currency_eur").val();
	postData.currency_gbp = $("#currency_gbp").val();
	postData.currency_cny = $("#currency_cny").val();
	
	postData.id = '<%= @profile_id%>';
	postData.myfeed = 'Y'
	postData.type = $("#item_type").val();
	postData.search_key = "<%= @search_key%>";
	postData.cate_code = $("#cate_code").val();
	postData.price_stat = $("#price_stat").val();
	postData.color_code = $("#color_code").val();
<% if @session_user_id!="" && @session_user_id == @user.id %>
	postData.use_yn = "Y,R";
<% end %>
	postData.per_page = 16;
	postData.order = order;
    
    if (searchYn){
    	layer_open_loading("loading_pop_layer",5,"N");
	    
	    setTimeout( function() {
	    	// ajax post 에서 세션 유지 시키기 위함
			$.ajaxSetup({
			  beforeSend: function(xhr) {
			    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
			  }
			});
			
			$.ajax({
			    url     : '/mypage/itemListCallback',
			    type    : 'post',
			    dataType: 'json',
			    data	: $.param(postData),
			    async   : false,  
			    success : function(json){
			    	collections = json.collections;
			    	
			    	layer_close_loading("loading_pop_layer");
		
			    	if(json.status){
						if(collections.length>0){
							nextPage++;
							 
							$.each(collections, function (index, collection) {
								var cnt_like_user = collection.cnt_like_user
								var class_like = "like_icon"
								if(cnt_like_user>0){
									class_like = "like_icon_on"
								}
								
								var li = '<li>' 
								+ '<div id="'+collection.item_type+'dv_'+collection.id+'" class="thumbnail" style="width:230px;height:300px;display:table-cell;text-align:center;vertical-align:middle">';
								
								if(collection.item_type=='C'){
									li += '<div style="width:230px;height:230px;display:table-cell;text-align:center;vertical-align:middle;">' 
									+ '	<img src="/data/collection/thumb/'+collection.img_file_name+'" onClick="document.location.href=\'/collections/'+collection.id+'\'" style="cursor:pointer">'
									+ '</div>'
									+ '<div style="text-align:left; padding:5px 0px 0px 5px; width:220px; height:45px; ">'
									+ '	<span style="color:#000000">'+collection.subject+'</span><br/>'
									+ '	<a href="/mypage/'+collection.profile_id+'" style="color:#0088cc">'+collection.user_name+'</a>'
									+ '</div>'
									+ '<div style="text-align:right;padding-right:10px;">'
									+ '	<span id="cid_'+collection.id+'" class="'+class_like+'" onClick="like(this);"></span>'
									+ '	<span id="ccnt_'+collection.id+'" class="like_count">'+collection.cnt_like+'</span>'
									+ '	<span class="view_icon"></span>'
									+ '	<span class="view_count">'+collection.hit+'</span>'
<% if @session_user_id!="" && @session_user_id == @user.id %>									
									+ ' <span class="view_remove" onClick="removeItem(\''+collection.get_yn+'\',\''+collection.item_type+'\','+collection.id+')"><i class="icon-trash"></i></span>'
<% end %>
									+ '</div>'
								}else if(collection.item_type=='P'){
									var change_price = collection.price;
									var change_price_type = "KRW";
									if (collection.price_type=="USD") {
										change_price = $('#currency_usd').val()*change_price;
									} else if (collection.price_type=="JPY") {
										change_price = $('#currency_jpy').val()*change_price;
									} else if (collection.price_type=="EUR") {
										change_price = $('#currency_eur').val()*change_price;
									} else if (collection.price_type=="GBP") {
										change_price = $('#currency_gbp').val()*change_price;
									} else if (collection.price_type=="CNY") {
										change_price = $('#currency_cny').val()*change_price;
									}
									
									var priceStr = getMoneyType(change_price,change_price_type);
									
									li += '<div style="width:230px;height:230px;display:table-cell;text-align:center;vertical-align:middle;">' 
									+ '	<img src="/data/product/medium/'+ collection.img_file_name+'" onClick="document.location.href=\'/products/'+ collection.id+'\'" style="cursor:pointer">'
									+ '</div>'
									+ '<div style="text-align:left; padding:5px 0px 0px 5px; width:220px; height:45px; ">'
									+ '	<a href="javascript:goProductUrl(\''+collection.url+'\',\''+collection.merchant+'\',\'product\')"><span style="color:#000000">'+collection.subject+'</span></a><br/>'
									+ priceStr + "&nbsp;"
									+ '	<a href="/mypage/'+collection.profile_id+'" style="color:#0088cc">'+collection.profile_id+'</a>'
									+ '</div>'
									+ '<div style="text-align:right;padding-right:10px;">'
									+ '	<span id="pid_'+collection.id+'" class="'+class_like+'" onClick="like(this);"></span>'
									+ '	<span id="pcnt_'+collection.id+'" class="like_count">'+collection.cnt_like+'</span>'
									+ '	<span class="view_icon"></span>'
									+ '	<span class="view_count">'+collection.hit+'</span>'
<% if @session_user_id!="" && @session_user_id == @user.id %>
									+ ' <span class="view_remove" onClick="removeItem(\''+collection.get_yn+'\',\''+collection.item_type+'\','+collection.id+')"><i class="icon-trash"></i></span>'
<% end %>
									+ '</div>';
								}
								li += '</div>'
								+ '</li>';
								
								$('#itemList').append(li);
							});
						} else {
							searchYn = false;
							if(nextPage==1){
								$('#itemList').append('<li style="width:100%;height:300px;padding-top:100px;font-weight:bold;font-size:20px;text-align:center;">No results found</li>');
							} else {
								$('#itemList').append('<li style="width:100%;padding-top:10px;font-weight:bold;font-size:15px;text-align:center;">No results found</li>');
							}
						}
						
			    	} else {
			    		searchYn = false;
			    		notify('error', json.msg);
			    	}
			    	
			    },
			    error   : function(e){
			    	searchYn = false;
			        semafors['ajax'] = false;
			        //notify('error', TranslationLabels['could_not_complete_request']);
			    }
			});
		}, 10 );
	}
}

// following
function followList(){
	//$("#itemListDv").attr("class","image_grid portfolio_4col");
	$("#itemListDv").removeClass();
	
	var list_type = $("#list_type").val();
	
	var order = "A.created_at DESC";
	//if($("#order_by").val()=="1") order = "rank ASC, user_id DESC"; 
	//else if($("#order_by").val()=="2") order = "created_at desc";

	var postData = new Object();
    postData.page = nextPage;
    postData.per_page = 8;
    postData.list_type = list_type;
<%	if @item_type=="F" %>
	postData.user_id = '<%=@user.id%>';
<%	else %>
	postData.user_id = '<%=@session_user_id%>';
<%	end %>
	postData.user_type = '<%=@item_type%>';
    postData.order = order;

	if (searchYn){
		layer_open_loading("loading_pop_layer",5,"N");
		searchYn = false;	
		setTimeout( function() {
			// ajax post 에서 세션 유지 시키기 위함
			$.ajaxSetup({
			  beforeSend: function(xhr) {
			    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
			  }
			});
			
			$.ajax({
			    url     : '/follows/followListCallback',
			    type    : 'post',
			    dataType: 'json',
			    data	: $.param(postData),
			    async   : false,  
			    success : function(json){
			    	if(json.status){
				    	users = json.user_list;
	
				    	layer_close_loading("loading_pop_layer");
		
						if(users.length>0) {
							nextPage++;
							
							$.each(users, function (index, user_list) {
								user = user_list[0];
								collections = user_list[1];
								follow_count = user_list[2];
								var li = '';

if (list_type=="L"){
	li = '<li>'
	+ '	<div style="width:100%;border-bottom:1px solid #cccccc;padding:10px;">'
	+ '	 	<table style="width:100%;height:45px;">'
	+ '	 		<tr>'
	+ '	 			<td style="width:140px;text-align:left">';
	if(user.img_file_name!="" && user.img_file_name != null){
<% if @item_type=="S" %>
		li += '<a href="javascript:goUrl(\''+user.url+'\');"><img src="/data/user/medium/'+user.img_file_name+'" style="width:140px;height:140px;"></a>';
<% else %>
		li += '<a href="/mypage/'+user.profile_id+'"><img src="/data/user/medium/'+user.img_file_name+'" style="width:140px;height:140px;"></a>';
<% end %>
	} else {
<% if @item_type=="S" %>
		li += '<a href="javascript:goUrl(\''+user.url+'\');"><img src="/images/common/profile_u.png" style="width:140px;height:140px;"></a>';
<% else %>
		li += '<a href="/mypage/'+user.profile_id+'"><img src="/images/common/profile_u.png" style="width:140px;height:140px;"></a>';
<% end %>
	}
	
	li += '	 			</td>'
	+ '	 			<td valign="top" style="width:250px;text-align:left;padding:10px;">'
	+ '	 				<a href="/mypage/'+user.profile_id+'"><strong style="font-size:17px">'+user.user_name+'</strong></a>'
<% if @item_type=="U" || @item_type=="F" %>
	+ '<br/><br/>' + user.created_at_join_str + ' 전에 가입하였습니다.';
<% else %>
	+ '<br/>'
	+ user.cnt_product + ' products,'
	+ user.cnt_follower + ' followers';
<% end %>
/*	
	if(follow_count>0){
		li += '<div id="cnt_scrap_'+user.user_id+'" onclick="follow(\''+user.user_id+'\');" class="bGray small" style="cursor:pointer; width:100px;">팔로잉</div>';
	} else {
		li += '<div id="cnt_scrap_'+user.user_id+'" onclick="follow(\''+user.user_id+'\');" class="bBlue small" style="cursor:pointer; width:100px;">팔로우하기</div>';
	}
*/
	li += '	 			</td>'
	+ '	 			<td style="text-align:left;padding-left:10px;">';
	+ '	 	<div style="padding-top:10px;">';
	
	$.each(collections, function (index, collection) {
<% if @item_type=="S" %>		
		li += ''
		+ '<div style="float:left;text-align:left; margin-right:8px; margin-bottom:8px; width:140px; height:140px; border:1px solid #CCCCCC;">'
		+ '<a href="/collections/pshow/'+collection.id+'"><img src="/data/product/medium/'+collection.img_file_name+'" style="width:140px; height:140px;"></a>'
		+ '</div>';
<% else %>
		li += ''
		+ '<div style="float:left;text-align:left; margin-right:8px; margin-bottom:8px; width:140px; height:140px; border:1px solid #CCCCCC;">'
		+ '<a href="/collections/'+collection.id+'"><img src="/data/collection/thumb/'+collection.img_file_name+'" style="width:140px; height:140px;"></a>'
		+ '</div>';
<% end %>
	});
	
	li += '	 		<div style="clear:both"></div>'
	+ '	 	</div>'
	+ '	 			</td>'
	+ '	 		</tr>'
	+ '	 	</table>'
	+ '	</div>'
	+ '</li>';
} else {
	$("#itemListDv").attr("class","image_grid portfolio_4col");
	
	li = '<li>'
	+ '	<div style="width:480px;height:300px;border:1px solid #cccccc;padding:10px;">'
	+ '	 	<table style="height:45px;">'
	+ '	 		<tr>'
	+ '	 			<td style="width:60px;text-align:left">';
	
	if(user.img_file_name!="" && user.img_file_name != null){
<% if @item_type=="S" %>
		li += '<a href="javascript:goUrl(\''+user.url+'\');"><img src="/data/user/thumb/'+user.img_file_name+'" style="width:45px;height:45px;"></a>';
<% else %>
		li += '<a href="/mypage/'+user.profile_id+'"><img src="/data/user/thumb/'+user.img_file_name+'" style="width:45px;height:45px;"></a>';
<% end %>
	} else {
<% if @item_type=="S" %>
		li += '<a href="javascript:goUrl(\''+user.url+'\');"><img src="/images/common/profile_u_sm.png" style="width:45px;height:45px;"></a>';
<% else %>
		li += '<a href="/mypage/'+user.profile_id+'"><img src="/images/common/profile_u_sm.png" style="width:45px;height:45px;"></a>';
<% end %>
	}
	
	li += '	 			</td>'
	+ '	 			<td style="width:320px;text-align:left">'
	+ '	 				<a href="/mypage/'+user.profile_id+'"><strong style="font-size:17px">'+user.user_name+'</strong></a>'
<% if @item_type=="U" || @item_type=="F" %>
	+ '<br/>' + user.created_at_join_str + ' 전에 가입하였습니다.';
<% else %>
	+ '<br/>'
	+ user.cnt_product + ' products,'
	+ user.cnt_follower + ' followers';
<% end %>
	+ '	 			</td>'
	+ '	 			<td style="width:100px;text-align:right;padding-right:7px;">';
/*	
	if(follow_count>0){
		li += '<div id="cnt_scrap_'+user.user_id+'" onclick="follow(\''+user.user_id+'\');" class="bGray small" style="cursor:pointer; width:100px;">팔로잉</div>';
	} else {
		li += '<div id="cnt_scrap_'+user.user_id+'" onclick="follow(\''+user.user_id+'\');" class="bBlue small" style="cursor:pointer; width:100px;">팔로우하기</div>';
	}
*/	
	li += '	 			</td>'
	+ '	 		</tr>'
	+ '	 	</table>'
	+ '	 	<div style="padding-top:10px;">';
	
	$.each(collections, function (index, collection) {
<% if @item_type=="S" %>
		li += ''
		+ '<div style="float:left;text-align:left; margin-right:8px; margin-bottom:8px; width:110px; height:110px; border:1px solid #CCCCCC;">'
		+ '<a href="/collections/pshow/'+collection.id+'"><img src="/data/product/medium/'+collection.img_file_name+'" style="width:110px; height:110px;"></a>'
		+ '</div>';
<% else %>
		li += ''
		+ '<div style="float:left;text-align:left; margin-right:8px; margin-bottom:8px; width:110px; height:110px; border:1px solid #CCCCCC;">'
		+ '<a href="/collections/'+collection.id+'"><img src="/data/collection/thumb/'+collection.img_file_name+'" style="width:110px; height:110px;"></a>'
		+ '</div>';
<% end %>
	});
	
	li += '	 		<div style="clear:both"></div>'
	+ '	 	</div>'
	+ '	</div>'
	+ '</li>';
}
								$('#itemList').append(li);
								searchYn = true;
							});
						} else {	// 결과값이 없을경우
							searchYn = false;
							if(nextPage==1){
								$('#itemList').append('<li style="width:100%;height:300px;padding-top:100px;font-weight:bold;font-size:20px;text-align:center;">No results found</li>');
							} else {
								$('#itemeList').append('<li style="width:100%;padding-top:10px;font-weight:bold;font-size:15px;text-align:center;">The End</li>');
							}
						}
						
			    	} else {
			    		searchYn = false;
			    		notify('error', json.msg);
			    	}
			    },
			    error   : function(e){
			        searchYn = false;
			        semafors['ajax'] = false;
			        //notify('error', TranslationLabels['could_not_complete_request']);
			    }
			});
		}, 10 );
	}
}


// 좋아요
function like(obj){
<%	if @session_user_id && @session_user_id!="" %>
		var item_type = '';
		var id = obj.id;
		var arrId = id.split('_');
		if(arrId[0]=='pid') item_type = 'P';
		else if(arrId[0]=='cid') item_type = 'C';
		
		$('#msg_type').val('L');
		$('#msg_ref_user_id').val('<%=session[:user_id]||""%>');
		$('#msg_ref_user_name').val('<%=session[:user_name]||""%>');
		$('#msg_ref_profile_id').val('<%=session[:profile_id]||""%>');

		if(item_type=='P'){
			$('#msg_ref_url').val('/collections/pshow/'+arrId[1]);
			$('#msg_contents').val('<strong><a href="/mypage/<%=session[:profile_id]%>"><%=session[:user_name]%></a></strong>님이 회원님의 상품을 좋아합니다.');
		} else if(item_type=='C'){
			$('#msg_ref_url').val('/collections/'+arrId[1]);
			$('#msg_contents').val('<strong><a href="/mypage/<%=session[:profile_id]%>"><%=session[:user_name]%></a></strong>님이 회원님의 콜렉션을 좋아합니다.');
		} 
		
		likeItem(item_type,arrId[1]);
<%	else %>
		login_pop(document.location.href);
<%	end %>
}


// 팔로우하기
function follow(){
<% if @session_user_id && @session_user_id!="" %>

    var postData = new Object();
    postData.follow_id = "<%= @user.id%>";
    postData.follow_type = "<%= @user.user_type%>";

	// ajax post 에서 세션 유지 시키기 위함
	$.ajaxSetup({
	  beforeSend: function(xhr) {
	    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
	  }
	});

    $.ajax({
        url     : '/follows/put',
        type    : 'post',
        dataType: 'json',
        data	: $.param(postData),
        async   : false,  
        success : function(json){
        	$('#followDv').removeClass();
    		if(json.follow_status=='Y'){
    			$('#followDv').html('<i class="icon-user"></i> <span style="font-size:12px; padding-left:10px;">Following</span>');
    			$('#followDv').addClass('btn btn-default btn-inverse disabled');
    			$('#followDv').attr('style','cursor:pointer;width:150px;text-align:left;');
    		}else{
    			$('#followDv').html('<i class="icon-user"></i> <span style="font-size:12px; padding-left:10px;">Follow</span>');
    			$('#followDv').addClass('btn btn-default btn-inverse');
    		}
        },
        error   : function(e){
        }
    });
<% else %>
	login_pop(document.location.href);
<% end %>
}

function removeItem(get_yn,stat,id){
	if(confirm("정말 항목을 삭제하시겠습니까?")){
	
		var postData = new Object();
		postData.get_yn = get_yn;
		postData.stat = stat;
		postData.ref_id = id;
	
		// ajax post 에서 세션 유지 시키기 위함
		$.ajaxSetup({
		  beforeSend: function(xhr) {
		    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
		  }
		});
	
		$.ajax({
		    url     : '/item/removeItemCallback',
		    type    : 'post',
		    dataType: 'json',
		    data	: $.param(postData),
		    async   : false,  
		    success : function(json){
				init();
				itemList();	
		    },
		    error   : function(e){
		    }
		});
	}

}

// 개인정보 설정
function editProfile(){
	document.location.href = "/mypage/setting";
}

</script>
