<%= stylesheet_link_tag    "/css/collection/flat.css", :media => "screen" %>
<%#= javascript_include_tag "/js/collection/binds.js" %>
<div id="Profile" class="centerHolder" style="padding-top:20px;width:100%;">
	<div class="userInfoBox">
		<br/>
		<div class="row-fluid">		
			<div class="span2">
		<% if @user.img_file_name %>
				<%= image_tag("/data/user/medium/"+@user.img_file_name) %>
		<% else %>
			<% if @user.user_type=="U" %>
				<%= image_tag("/images/common/profile_u.png") %>
			<% elsif @user.user_type=="S" %>
				<%= image_tag("/images/common/profile_s.png") %>
			<% else%>
				<%= image_tag("/images/common/profile_u.png") %>
			<% end %>
		<% end %>
				<!--img src="<%= @user.img_file_name%>" style="width:150px;height:100px"-->
				
			</div>
			<div class="span6">
				<h4>@<%= @user.profile_id%></h4>
				<%= @user.user_name%>
				<br/>
<% if @session_user_id %>
				<div onclick="alert('프로필수정');" class="bGreen" style="cursor:pointer; width:120px; margin-top:5px;">프로필</div>
	<% if @session_user_id != @user.id %>
		<% if @follow_count>0 %>
				<div id="cnt_scrap" onclick="follow();" class="bGray" style="cursor:pointer; width:150px; margin-top:5px;">팔로잉</div>
		<% else %>
				<div id="cnt_scrap" onclick="follow();" class="bBlue" style="cursor:pointer; width:150px; margin-top:5px;">팔로우하기</div>
		<% end %>
	<% end %>
<% end %>
				<!--p>
					<a class="btn btn-success" href="#">프로필</a>
					<a class="btn btn-primary" href="#">팔로우</a>
				</p-->
			</div>
			<div class="span4">
				<ul class="right">
					<li class="icon views">
						<p>스토어 : 1</p>
					</li>
					<li class="icon place">
						<p>팔로워 : 0</p>
					</li>
					<li class="icon gender">
						<p>팔로잉 : 0</p>
					</li>
					<li class="icon age">
						<p>콜렉션 : 0</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>



	<div class="whiteHeader cf" style="text-align:left;margin-top:1px;">
		<ul>
			<li>
				<a href="/mypage/<%=@profile_id%>" <% if @item_type!='C' && @item_type!='P'  %> class="active" <% end %> >전체</a>
			</li>
			<li>
				<a href="/mypage/<%=@profile_id%>?type=P" <% if @item_type=='P' %> class="active" <% end %> >상품</a>
			</li>
			<li>
				<a href="/mypage/<%=@profile_id%>?type=C" <% if @item_type=='C' %> class="active" <% end %> >콜렉션</a>
			</li>
		</ul>
			
		<div id="products" class="products">
			<a name="top"></a>
			<div class="freshdesignweb">
			    <div class="image_grid portfolio_4col" style="padding-left:40px;">
				    <ul id="itemList" class="portfolio_list">

				    </ul>
			    </div>
			</div>
		</div>
		
		
	</div>
	
	
	<a href="#top" id="top-link" class="floatingLink">top</a>
	

<script type="text/javascript">
$(document).ready(function(){
	$(function() {
		$("#mainMenu2").addClass("active");
		itemList();
	});
});

// scroll event
$(window).scroll(function(){
	if($(window).scrollTop() == $(document).height() - $(window).height()){
		itemList();
	}
});

var nextPage = 1;
function itemList(){
	layer_open_loading("loading_pop_layer",5,"N");
	
	var postData = new Object();
    postData.page = nextPage;
    postData.id = '<%= @profile_id%>';
    postData.type = '<%= @item_type%>';
    postData.order = 'created_at DESC';
    postData.myfeed = 'Y'
    
    setTimeout( function() {
    	// ajax post 에서 세션 유지 시키기 위함
		$.ajaxSetup({
		  beforeSend: function(xhr) {
		    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
		  }
		});
		
		$.ajax({
		    url     : '/mypage/itemListCallback',
		    type    : 'post',
		    dataType: 'json',
		    data	: $.param(postData),
		    async   : false,  
		    success : function(json){
		    	collections = json.collections;
		    	
		    	layer_close_loading("loading_pop_layer");
	
		    	if(json.status){
					if(collections.length>0) nextPage++;
					$.each(collections, function (index, collection) {
						var cnt_like_user = collection.cnt_like_user
						var class_like = "like_icon"
						if(cnt_like_user>0){
							class_like = "like_icon_on"
						}
						
						var li = '<li>' 
						+ '<div class="thumbnail" style="width:230px;height:300px;display:table-cell;text-align:center;vertical-align:middle">';
						
						if(collection.item_type=='C'){
							li += '<div style="width:230px;height:230px;display:table-cell;text-align:center;vertical-align:middle;">' 
							+ '	<img src="/data/collection/thumb/'+collection.img_file_name+'" onClick="document.location.href=\'/collections/'+collection.id+'\'" style="cursor:pointer">'
							+ '</div>'
							+ '<div style="text-align:left; padding:5px 0px 0px 5px; width:220px; height:50px; ">'
							+ '	<span style="color:#000000">'+collection.subject+'</span><br/>'
							+ '	<a href="/mypage/'+collection.profile_id+'" style="color:#0088cc">'+collection.profile_id+'</a>'
							+ '</div>'
							+ '<div style="text-align:right;padding-right:10px;">'
							+ '	<span id="cid_'+collection.id+'" class="'+class_like+'" onClick="like(this);"></span>'
							+ '	<span id="ccnt_'+collection.id+'" class="like_count">'+collection.cnt_like+'</span>'
							+ '	<span class="view_icon"></span>'
							+ '	<span class="view_count">'+collection.hit+'</span>'
							+ '</div>';
						}else if(collection.item_type=='P'){
							var priceStr = getMoneyType(collection.price,collection.price_type);
							
							li += '<div style="width:230px;height:230px;display:table-cell;text-align:center;vertical-align:middle;">' 
							+ '	<img src="/data/product/medium/'+ collection.img_file_name+'" onClick="document.location.href=\'/products/'+ collection.id+'\'" style="cursor:pointer">'
							+ '</div>'
							+ '<div style="text-align:left; padding:5px 0px 0px 5px; width:220px; height:50px; ">'
							+ '	<span style="color:#000000">'+collection.subject+'</span><br/>'
							+ priceStr + "&nbsp;"
							+ '	<a href="/mypage/'+collection.profile_id+'" style="color:#0088cc">'+collection.profile_id+'</a>'
							+ '</div>'
							+ '<div style="text-align:right;padding-right:10px;">'
							+ '	<span id="pid_'+collection.id+'" class="'+class_like+'" onClick="like(this);"></span>'
							+ '	<span id="pcnt_'+collection.id+'" class="like_count">'+collection.cnt_like+'</span>'
							+ '	<span class="view_icon"></span>'
							+ '	<span class="view_count">'+collection.hit+'</span>'
							+ '</div>';
						}
						li += '</div>'
						+ '</li>';
						
						$('#itemList').append(li);
					});
					
		    	} else {
		    		notify('error', json.msg);
		    	}
		    	
		    },
		    error   : function(e){
		        semafors['ajax'] = false;
		        //notify('error', TranslationLabels['could_not_complete_request']);
		    }
		});
	}, 10 );
}

// 좋아요
function like(obj){
<%	if @session_user_id && @session_user_id!="" %>
		var item_type = "";
		var id = obj.id;
		arrId = id.split("_");
		if(arrId[0]=="pid") item_type = "P";
		else if(arrId[0]=="cid") item_type = "C";
		likeItem(item_type,arrId[1]);
<%	else %>
		login_pop('/');
<%	end %>
}

// 팔로우하기
function follow(){
    var postData = new Object();
    postData.follow_id = "<%= @user.id%>";
    postData.follow_type = "U";

	// ajax post 에서 세션 유지 시키기 위함
	$.ajaxSetup({
	  beforeSend: function(xhr) {
	    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
	  }
	});

    $.ajax({
        url     : '/follows/put',
        type    : 'post',
        dataType: 'json',
        data	: $.param(postData),
        async   : false,  
        success : function(json){
        	$('#cnt_scrap').removeClass();

    		if(json.follow_status=='Y'){
    			$('#cnt_scrap').html("팔로잉");
    			$('#cnt_scrap').addClass('bGray');
    		}else{
    			$('#cnt_scrap').html("팔로우");
    			$('#cnt_scrap').addClass('bBlue');
    		}
        },
        error   : function(e){
        }
    });
}

</script>
