<script language="JavaScript">
function total_search(frm){
	search_key = frm.search_key.value.trim();
	search_key = search_key.replace( /\  /g, " ");
	frm.search_key.value = search_key;
	if(frm.search_key.value==null || frm.search_key.value==""){
		alert("검색어를 입력하세요");
		frm.search_key.focus();
		return false;
	}
	return true;
}

<%
	cmenu = params[:cmenu]||""
	cmenu_sub = params[:cmenu_sub]||""
	if cmenu && cmenu!=""
%>
$(document).ready(function(){
	$("#cmenu<%=cmenu%>").addClass("active");
<%
		if cmenu_sub && cmenu_sub!=""
%>
	$("#cmenu<%=cmenu%>_sub<%=cmenu_sub%>").addClass("active");
<%
		end
%>
});
<%	end %>

</script>

<!-- 팝업 레이어 -->
<div class="player">
	<div class="bg"></div>
	<div id="pop_layer" class="pop-layer">
		<div class="pop-container">
			<div class="cdv">
				<div class="cbtn"></div>
			</div>
			<div id="pop_content" class="pop-conts">
			</div>
		</div>
	</div>
</div>

<!-- 로딩중 레이어 -->
<div class="loading-layer">
	<div class="bg"></div>
	<div id="loading_pop_layer" class="loading-pop-layer">
	</div>
</div>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("/images/common/logo.png", align: "absmiddle"), root_url, class: "brand", style: "padding:5px;", target: "_self" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li id="cmenu1" class="dropdown">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Favorite<b class="caret"></b></a>
          	<ul class="dropdown-menu">
              <li id="cmenu1_sub1"><a href="/main?cmenu=1&cmenu_sub=1">All</a></li>
              <li id="cmenu1_sub2"><a href="/main?type=P&store_type=F&cmenu=1&cmenu_sub=2">해외직구</a></li>
              <li id="cmenu1_sub3"><a href="/main?type=P&store_type=I&cmenu=1&cmenu_sub=3">Styles</a></li>
              <!--li class="divider"></li-->
              <li id="cmenu1_sub4"><a href="/main?type=C&cmenu=1&cmenu_sub=4">Set&collection</a></li>
            </ul>
          </li>
          <li id="cmenu2" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Items <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="cmenu2_sub0"><a href="/item/getProductList?cate_code=All&cmenu=2&cmenu_sub=0">All</a></li>
              <li class="divider"></li>
<%
catelist = ["Tops", "Dresses", "Jeans", "Pants",   
			 "Skirts", "Shoes", "Bags", "Jewelry",  
			 "Beauty", "Kids", "Home", "Men"]
catelist.each_with_index do |cate,i|
%>
              <li id="cmenu2_sub<%=i%>"><a href="/item/getProductList?cate_code=<%=catelist[i]%>&cmenu=2&cmenu_sub=<%=i%>"><%=catelist[i]%></a></li>
<%	
end
%>
            </ul>
          </li>
          <li id="cmenu3" class="dropdown">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Stores <b class="caret"></b></a>
          	<ul class="dropdown-menu">
              <li id="cmenu3_sub1"><a href="/store/topstore?store_type=I&cmenu=3&cmenu_sub=1">국내</a></li>
              <li id="cmenu3_sub2"><a href="/store/topstore?store_type=F&cmenu=3&cmenu_sub=2">해외</a></li>
            </ul>
          </li>
          <li id="cmenu4">

          	<a href="/mypage/myfeed">Following</a>



          </li>
          <li id="cmenu5" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Posting <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="cmenu5_sub1"><a href="/collections/set">Set</a></li>
              <li id="cmenu5_sub2"><a href="/collections/collect">Collection</a></li>
              <li id="cmenu5_sub3"><a href="/products/post">Product</a></li>
              <!--li class="divider"></li>
              <li class="active"><%= link_to '상품등록', new_product_path %></li-->
            </ul>
          </li>
        </ul>
        
	    <ul class="nav pull-right">
	        <li>
		        <%= form_tag "/search", name: "searchFrm", method: "get", class: "navbar-form navbar-right", onsubmit: "return total_search(this)" do %>
				<input id="search_key" name="search_key" type="text" class="form-control" placeholder="Search products, stores" value="<%#=@search_key%>" style="width:150px;">
				<% end %>
	        </li>
<% if current_user %>
			<li><a href="#">Messages</a></li>
			<li><a href="/mypage">Profile</a></li>
			<li><%= link_to "Log out", log_out_path %></li>
<% else %>
			<!--li><a href="#">Messages</a></li-->
			<li><a href="javascript:login_pop('/mypage');">Profile</a></li>
			<li><a href="javascript:login_pop('');">Log in</a></li>
<% end %>
			</li>
	    </ul>

      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>